<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AbstractR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/<%= cssFileName %>.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/js/starRating.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/starRating.css">
</head>
<body class="single">
    <div class="entireThing">
        <div class="horizontalBar"><h2>Abstractfindr</h2></div>
        <% for(var i = 0; i < docs.length; i++) {%>
            <div class="container-mine">
                <div class="item item<%=i+1%>">
                    <div class="top">
                        <div class="title">
                            <h4><%= docs[i].title %></h4>
                        </div>
                        <div class="expandButton">
                            <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                    <br>
                    <p><%= docs[i].abstract %></p>
                </div>
                <div class="item bottomItem bottomItem<%=i+1%>" data-docID="<%= docs[i].idfiles %>">
                    <% if(showDownloads > 0){ %>
                        <% if(worldNum == 1){ %>
                            <% if(control == 'L'){ %>
                                <% if(lowHigh == 'l'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_l_1%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_r_1%></span>
                                <% } %>
                            <% }else if(control == 'H'){ %>
                                <% if(lowHigh == 'h'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_h_1%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_r_1%></span>
                                <% } %>
                            <% } %>
                        <% }else if(worldNum == 2){ %>
                            <% if(control == 'L'){ %>
                                <% if(lowHigh == 'l'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_l_2%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_r_2%></span>
                                <% } %>
                            <% }else if(control == 'H'){ %>
                                <% if(lowHigh == 'h'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_h_2%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_r_2%></span>
                                <% } %>
                            <% } %>             
                        <% }else if(worldNum == 3){ %>
                            <% if(control == 'L'){ %>
                                <% if(lowHigh == 'l'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_l_3%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_r_3%></span>
                                <% } %>
                            <% }else if(control == 'H'){ %>
                                <% if(lowHigh == 'h'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_h_3%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_r_3%></span>
                                <% } %>
                            <% } %>                       
                        <% }else{ %>
                            <% if(control == 'L'){ %>
                                <% if(lowHigh == 'l'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_l_4%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_L_r_4%></span>
                                <% } %>
                            <% }else if(control == 'H'){ %>
                                <% if(lowHigh == 'h'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_h_4%></span>
                                <% }else if(lowHigh == 'r'){ %>
                                    <span>Downloads: <%= docs[i].downloads_H_r_4%></span>
                                <% } %>
                            <% } %>                      
                        <% } %>
                    <% } %>
                </div>
            </div>
        <% } %>
        <!-- Modal -->
        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadModalTitle">Would you like to download this paper?</h5>
            </div>
            <div class="modal-body">
                You can not continue without choosing to download this paper or not. If you choose yes it will download the paper to your device, then you will be able to read more abstracts. If you choose no, you will be able to read more abstracts.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No thanks</button>
                <a download><button type="button" class="btn btn-primary">Yes, download now</button></a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <script src="/js/<%= jsFileName %>.js"></script>
    <script>
        $(document).ready(function(){
            $('.rating1').addRating();
            $('.rating2').addRating();
        })
    </script>
</body>
</html>