<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AbstractFindr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/<%= cssFileName %>.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/js/starRating.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/starRating.css">
</head>
<body>
    <div class="entireThing">
        <div class="horizontalBar">
            <h2>AbstractFindr</h2>
            <h5>Read and rate abstracts, then download full papers!</h5>
        </div>
        <% for(var i = 0; i < docs.length; i++) {%>
            <div class="container-mine">
                <% if(viewedPapers.includes(docs[i].idfiles)){%>
                    <div class="item item<%=i+1%> viewedPaper">
                <% }else{ %>
                    <div class="item item<%=i+1%>">
                <% } %>
                        <div class="top">
                            <div class="title">
                                <h6><%= docs[i].title %></h6>
                            </div>
                        </div>
                        <br>
                        <p style="display: none"><%= docs[i].abstract %></p>
                    </div>
                    <div class="item bottomItem bottomItem<%=i+1%>" data-docID="<%= docs[i].idfiles %>">
                        <% if(showDownloads > 0){ %>
                            <% if(worldNum == 1){ %>
                                <% if(control == 'L'){ %>
                                    <% if(lowHigh == 'l'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_l_1%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_r_1%></span>
                                    <% } %>
                                <% }else if(control == 'H'){ %>
                                    <% if(lowHigh == 'h'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_h_1%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_r_1%></span>
                                    <% } %>
                                <% } %>
                            <% }else if(worldNum == 2){ %>
                                <% if(control == 'L'){ %>
                                    <% if(lowHigh == 'l'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_l_2%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_r_2%></span>
                                    <% } %>
                                <% }else if(control == 'H'){ %>
                                    <% if(lowHigh == 'h'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_h_2%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_r_2%></span>
                                    <% } %>
                                <% } %>             
                            <% }else if(worldNum == 3){ %>
                                <% if(control == 'L'){ %>
                                    <% if(lowHigh == 'l'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_l_3%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_r_3%></span>
                                    <% } %>
                                <% }else if(control == 'H'){ %>
                                    <% if(lowHigh == 'h'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_h_3%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_r_3%></span>
                                    <% } %>
                                <% } %>                       
                            <% }else{ %>
                                <% if(control == 'L'){ %>
                                    <% if(lowHigh == 'l'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_l_4%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_L_r_4%></span>
                                    <% } %>
                                <% }else if(control == 'H'){ %>
                                    <% if(lowHigh == 'h'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_h_4%></span>
                                    <% }else if(lowHigh == 'r'){ %>
                                        <span>Downloads: <%= docs[i].downloads_H_r_4%></span>
                                    <% } %>
                                <% } %>                      
                            <% } %>
                        <% } %>
                    </div>
            </div>
        <% } %>
        <!-- Modal -->
        <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="testModalTitle"></h5>
                    </div>
                    <div class="modal-body">
                       
                    </div>
                    <div id="theFooter" class="modal-footer">
                        <div id="footerLeft">
                        </div>
                        <div id="footerRight">
                            <p id="downloadText">Would you like to download the full paper?</p>
                            <p id="downloadAlertText">* Please rate before choosing to download or not</p> 
                            <div class="downloadButtons">
                                <a download disabled><button type="button" class="btn btn-primary" disabled>Yes</button></a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" disabled>No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/<%= jsFileName %>.js"></script>
    <script>
        $(document).ready(function(){
            $('.rating1').addRating();
            $('.rating2').addRating();
        })
    </script>
</body>
</html>