<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AbstractR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/<%= cssFileName %>.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/js/starRating.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/starRating.css">
</head>
<body>
    <div class="entireThing">
        <div class="horizontalBar"><h2>AbstractR</h2></div>
        <div class="container-mine">
            <div class="item item1">
                <div class="top">
                    <div class="title">
                        <h4><%= docs[0].title %></h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <br>
                <p><%= docs[0].abstract %></p>
            </div>
            <div class="item item2">
                <div class="top">
                    <div class="title">
                        <h4><%= docs[1].title %></h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <br>
                <p><%= docs[1].abstract %></p>
            </div>
            <div class="item item3">
                <div class="top">
                    <div class="title">
                        <h4><%= docs[2].title %></h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <br>
                <p><%= docs[2].abstract %></p>
            </div>
            <div class="item item4">
                <div class="top">
                    <div class="title">
                        <h4><%= docs[3].title %></h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <br>
                <p><%= docs[3].abstract %></p>
            </div>
            <div class="item bottomItem bottomItem1" data-docID="<%= docs[0].idfiles %>">
                <% if(showDownloads > 0){ %>
                    <% if(worldNum == 1){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_l_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_r_1%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_h_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_r_1%></span>
                            <% } %>
                        <% } %>
                    <% }else if(worldNum == 2){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_l_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_r_2%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_h_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_r_2%></span>
                            <% } %>
                        <% } %>             
                    <% }else if(worldNum == 3){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_l_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_r_3%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_h_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_r_3%></span>
                            <% } %>
                        <% } %>                       
                    <% }else{ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_l_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_L_r_4%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_h_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[0].downloads_H_r_4%></span>
                            <% } %>
                        <% } %>                      
                    <% } %>
                <% } %>
            </div>
            <div class="item bottomItem bottomItem2" data-docID="<%= docs[1].idfiles %>">
                <% if(showDownloads > 0){ %>
                    <% if(worldNum == 1){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_l_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_r_1%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_h_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_r_1%></span>
                            <% } %>
                        <% } %>
                    <% }else if(worldNum == 2){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_l_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_r_2%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_h_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_r_2%></span>
                            <% } %>
                        <% } %>             
                    <% }else if(worldNum == 3){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_l_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_r_3%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_h_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_r_3%></span>
                            <% } %>
                        <% } %>                       
                    <% }else{ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_l_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_L_r_4%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_h_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[1].downloads_H_r_4%></span>
                            <% } %>
                        <% } %>                      
                    <% } %>
                <% } %>
            </div>
            <div class="item bottomItem bottomItem3" data-docID="<%= docs[2].idfiles %>">
                <% if(showDownloads > 0){ %>
                    <% if(worldNum == 1){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_l_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_r_1%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_h_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_r_1%></span>
                            <% } %>
                        <% } %>
                    <% }else if(worldNum == 2){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_l_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_r_2%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_h_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_r_2%></span>
                            <% } %>
                        <% } %>             
                    <% }else if(worldNum == 3){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_l_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_r_3%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_h_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_r_3%></span>
                            <% } %>
                        <% } %>                       
                    <% }else{ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_l_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_L_r_4%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_h_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[2].downloads_H_r_4%></span>
                            <% } %>
                        <% } %>                      
                    <% } %>
                <% } %>
            </div>
            <div class="item bottomItem bottomItem4" data-docID="<%= docs[3].idfiles %>">
                <% if(showDownloads > 0){ %>
                    <% if(worldNum == 1){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_l_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_r_1%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_h_1%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_r_1%></span>
                            <% } %>
                        <% } %>
                    <% }else if(worldNum == 2){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_l_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_r_2%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_h_2%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_r_2%></span>
                            <% } %>
                        <% } %>             
                    <% }else if(worldNum == 3){ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_l_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_r_3%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_h_3%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_r_3%></span>
                            <% } %>
                        <% } %>                       
                    <% }else{ %>
                        <% if(control == 'L'){ %>
                            <% if(lowHigh == 'l'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_l_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_L_r_4%></span>
                            <% } %>
                        <% }else if(control == 'H'){ %>
                            <% if(lowHigh == 'h'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_h_4%></span>
                            <% }else if(lowHigh == 'r'){ %>
                                <span>Downloads: <%= docs[3].downloads_H_r_4%></span>
                            <% } %>
                        <% } %>                      
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4><%= docs[4].title %></h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <br>
                <p><%= docs[4].abstract %></p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem5">
                <div class="download">
                    <a data-docID="<%= docs[4].idfiles %>" href="pdfs/<%= docs[4].name %>" download><button class="downloadButton" type="">Download</button></a>
                    <% if(showDownloads > 0){ %>
                        <% if(worldNum == 1){ %>
                            <span data-docID="<%= docs[4].idfiles %>">Downloads: <%= docs[4].downloads_1%></span>
                        <% }else if(worldNum == 2){ %>
                            <span data-docID="<%= docs[4].idfiles %>">Downloads: <%= docs[4].downloads_2%></span>                        
                        <% }else if(worldNum == 3){ %>
                            <span data-docID="<%= docs[4].idfiles %>">Downloads: <%= docs[4].downloads_3%></span>                        
                        <% }else{ %>
                            <span data-docID="<%= docs[4].idfiles %>">Downloads: <%= docs[4].downloads_4%></span>                        
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat auctor quam efficitur condimentum eget eget augue. Aliquam at aliquam nisl. Praesent non augue commodo, ultricies enim quis, aliquam justo. Nulla nec posuere sapien. Pellentesque sollicitudin nulla a vehicula tempus. Maecenas venenatis nibh ex, quis cursus est hendrerit sed. Etiam hendrerit blandit tincidunt.</p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem1">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat auctor quam efficitur condimentum eget eget augue. Aliquam at aliquam nisl. Praesent non augue commodo, ultricies enim quis, aliquam justo. Nulla nec posuere sapien. Pellentesque sollicitudin nulla a vehicula tempus. Maecenas venenatis nibh ex, quis cursus est hendrerit sed. Etiam hendrerit blandit tincidunt.</p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem1">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat auctor quam efficitur condimentum eget eget augue. Aliquam at aliquam nisl. Praesent non augue commodo, ultricies enim quis, aliquam justo. Nulla nec posuere sapien. Pellentesque sollicitudin nulla a vehicula tempus. Maecenas venenatis nibh ex, quis cursus est hendrerit sed. Etiam hendrerit blandit tincidunt.</p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem1">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat auctor quam efficitur condimentum eget eget augue. Aliquam at aliquam nisl. Praesent non augue commodo, ultricies enim quis, aliquam justo. Nulla nec posuere sapien. Pellentesque sollicitudin nulla a vehicula tempus. Maecenas venenatis nibh ex, quis cursus est hendrerit sed. Etiam hendrerit blandit tincidunt.</p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem1">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat auctor quam efficitur condimentum eget eget augue. Aliquam at aliquam nisl. Praesent non augue commodo, ultricies enim quis, aliquam justo. Nulla nec posuere sapien. Pellentesque sollicitudin nulla a vehicula tempus. Maecenas venenatis nibh ex, quis cursus est hendrerit sed. Etiam hendrerit blandit tincidunt.</p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem1">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <div class="container-mine">
            <div class="item item5">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at erat auctor quam efficitur condimentum eget eget augue. Aliquam at aliquam nisl. Praesent non augue commodo, ultricies enim quis, aliquam justo. Nulla nec posuere sapien. Pellentesque sollicitudin nulla a vehicula tempus. Maecenas venenatis nibh ex, quis cursus est hendrerit sed. Etiam hendrerit blandit tincidunt.</p>
            </div>
            <div class="item item6">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Praesent suscipit placerat nibh vel dignissim. Vestibulum mattis nunc non posuere dapibus. Sed dapibus, ligula at auctor pretium, orci libero accumsan nulla, eu sagittis sapien erat sed nibh. Etiam quis vulputate erat. Maecenas sagittis orci id ipsum fermentum dapibus. Nam id elementum ligula, et venenatis mauris. Vestibulum nibh velit, tempor sed leo et, maximus commodo sem. Integer mattis nec augue sed eleifend. Nam feugiat lacus sed lectus varius, vel venenatis ante fermentum. Pellentesque mattis nunc ut elit accumsan, eget scelerisque lacus vestibulum. Etiam sed dui metus. Morbi id malesuada quam. Ut orci diam, tincidunt a odio ut, scelerisque tincidunt ipsum.</p>
            </div>
            <div class="item item7">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Vestibulum justo felis, facilisis vel lobortis vel, malesuada sit amet eros. Duis eget placerat tortor. Praesent ac massa non lorem gravida feugiat nec quis erat. Sed a ornare diam. Nam eleifend dui eget lacus ultrices, eu dignissim arcu sollicitudin. Nunc rutrum vestibulum elit, ut pellentesque massa dictum a. Nulla et erat eros. Ut auctor, risus et tincidunt varius, ante ex tempor massa, a ultricies massa sapien eget lacus. Vivamus sit amet tortor libero. Quisque vitae posuere lectus.</p>
            </div>
            <div class="item item8">
                <div class="top">
                    <div class="title">
                        <h4>Fake title</h4>
                    </div>
                    <div class="expandButton">
                        <button title="Click to expand"><i class="fa fa-caret-down"></i></button>
                    </div>
                </div>
                <p>Phasellus justo sem, tristique vitae ex et, faucibus condimentum est. Vivamus in suscipit odio, eget gravida erat. Nunc auctor metus aliquam ullamcorper consequat. Cras tempus efficitur feugiat. Aliquam magna nisl, consectetur sit amet nisi at, gravida volutpat nulla. Etiam ac iaculis sem. Sed et libero mollis lorem porttitor tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="item bottomItem bottomItem1">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem2">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem3">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
            <div class="item bottomItem bottomItem4">
                <div class="download">
                    <button type="">Download</button>
                    <span>Downloads: 500</span>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadModalTitle">Would you like to download this paper?</h5>
            </div>
            <div class="modal-body">
                You can not continue without choosing to download this paper or not. If you choose yes it will download the paper to your device, then you will be able to read more abstracts. If you choose no, you will be able to read more abstracts.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No thanks</button>
                <a download><button type="button" class="btn btn-primary">Yes, download now</button></a>
            </div>
            </div>
        </div>
        </div>
    </div>
    <script src="/js/<%= jsFileName %>.js"></script>
    <script>
        $(document).ready(function(){
            $('.rating1').addRating();
            $('.rating2').addRating();
        })
    </script>
</body>
</html>